.container {
  max-width: 5000px;
  height: 300px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  background-image: url("../../public/1533326959_low-poly-background-generator-min.png");
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 2px solid black;
  width: 250px;
}

.button {
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.loading {
  font-size: 25px;
  margin-top: 20px;
  font-style: italic;
  color: #000000;
}

.infoContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 12px;
  padding: 15px;
  background-color: #fff;
  height: 85px;
}

.info {
  margin-bottom: 10px;
  column-count: 5;
  column-width: 10px;
}

.error {
  color: red;
  margin-top: 20px;
}
